@{
    ViewData["Title"] = "Lớp học phần";
}

<div>
    <div>
        <h1>@ViewData["Title"]</h1>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="ThemLopHocPhan">Thêm Lớp Học Phần</a>
    </div>
    



    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">Mã lớp học phần</th>
                <th scope="col">Mã môn học</th>
                <th scope="col">Năm học</th>
                <th scope="col">Học kỳ</th>
                <th scope="col">Giới hạn số lượng sinh viên</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
                {
                @foreach (var item in Model)
                    {
                    <tr>
                        
                        <td>@item.maLopHocPhan</td>
                        <td>@item.maMonHoc</td>
                        <td>@item.namHoc</td>
                        <td>@item.hocKy</td>
                        <td>@item.gioiHanSlg</td>

                        <td class="d-flex align-items-center">
                            @*<a class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="UpdateLopHocPhan">Edit</a>*@
                            <form action="UpdateLopHocPhan">
                                <input hidden value=@item.maLopHocPhan name="maLopHocPhan">
                                <input hidden value=@item.maMonHoc name="maMonHoc">
                                <input hidden value=@item.namHoc name="namHoc">
                                <input hidden value=@item.hocKy name="hocKy">
                                <input hidden value=@item.gioiHanSlg name="gioiHanSlg">
                                <button class="btn btn-warning" type="submit">Edit</button>
                            </form>
                            <span>|</span>
                            <form action="DeleteLopHocPhan" method="post">
                                <input hidden value=@item.maLopHocPhan name="maLopHocPhan">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                        
                    </tr>
                    }
                }



            </tbody>
    </table>
</div>

